<include href="templates/parts/headerAdmin.html" />
<div id="wrap">
    <include href="templates/parts/leftMenu.html" />
    <div class="main">
        <include href="templates/parts/forms/globalSearchForm.html" />
        <include href="templates/parts/systemNotification.html" />
        <div class="headline">
            <div id="dasboard-form">
                <include href="templates/parts/forms/filtersForm.html" />
            </div>
        </div>

        <include href="templates/parts/home/counters.html" />
        <include href="templates/parts/home/topTenBlock.html" />
    </div>
<include href="templates/parts/footerAdmin.html" />
</div>
