<include href="templates/parts/headerAdmin.html" />
<div id="wrap">
    <include href="templates/parts/panel/eventPanel.html" />
    <include href="templates/parts/panel/devicePanel.html" />
    <include href="templates/parts/leftMenu.html" />
    <div class="main">
        <include href="templates/parts/forms/globalSearchForm.html" />
        <include href="templates/parts/systemNotification.html" />
        <include href="templates/parts/welcomeMessage.html" />
        <include href="templates/parts/notification.html" />

        {~
            $country = ['id' => $IP['abbr_country']];

            $subtitle = array();
            if(isset($IP['name']) && !empty($IP['name'])) {
                $subtitle[] = $IP['name'];
            }

            if(isset($IP['description']) && !empty($IP['description'])) {
                $subtitle[] = $IP['description'];
            }

            $subtitle = join(', ', $subtitle);
            $subtitle = preg_replace('/-|_/', ' ', $subtitle);
        ~}
        <include href="templates/parts/infoHeader.html" with="title={{@IP.ip}}, country={{@country}}, lastseen={{@IP.lastseen}}, subtitle={{@subtitle}}, type=ip, id={{@IP.id}}, dataIncomplete={{!@IP.checked && @IS_ENRICHABLE}}"/>

        <include href="templates/parts/widgets/ip.html" />
        <include href="templates/parts/tables/users.html" />
        <include href="templates/parts/tables/devices.html" />
        {**<include href="templates/parts/tables/ips.html" with="showChart=0, title={{@AdminIp_ips_table_by_cidr_title}}"/>**}
        <include href="templates/parts/tables/events.html" with="showChart=1"/>
    </div>

<include href="templates/parts/footerAdmin.html" />
</div>
