<include href="templates/parts/headerAdmin.html" />
<div id="wrap">
    <include href="templates/parts/panel/eventPanel.html" />
    <include href="templates/parts/leftMenu.html" />
    <div class="main">
        <include href="templates/parts/forms/globalSearchForm.html" />
        <include href="templates/parts/systemNotification.html" />
        <include href="templates/parts/welcomeMessage.html" />

        {~
            $subtitle = '';
            if(isset($ISP['description']) && !empty($ISP['description'])) {
                $subtitle = $ISP['description'];
            }


            $pageTitle = '';
            if($ISP['name']) {
                $pageTitle = $ISP['name'];
            }

            if(!$pageTitle && $ISP['description']) {
                $pageTitle = $ISP['description'];
            }

            if(!$pageTitle && $ISP['asn']) {
                $pageTitle = $ISP['asn'];
            }

            if($pageTitle) {
                $regex1 = '/-|_/i';
                $regex2 = '/\b\w+/';

                $pageTitle = preg_replace($regex1, ' ', $pageTitle);
                $pageTitle = preg_replace_callback(
                    $regex2,
                    function ($matches) {
                        $pageTitle = $matches[0];
                        return ucfirst(strtolower($pageTitle));
                    },
                    $pageTitle
                );
            }
        ~}

        <include href="templates/parts/infoHeader.html" with="title={{@pageTitle}}, lastseen={{@ISP.lastseen}}, subtitle={{@subtitle}}"/>

        <include href="templates/parts/widgets/isp.html" />
        <include href="templates/parts/tables/users.html" />
        <include href="templates/parts/mapWithIps.html" />
        <include href="templates/parts/tables/events.html" with="showChart=1"/>
    </div>

<include href="templates/parts/footerAdmin.html" />
</div>
