<include href="templates/parts/headerAdmin.html" />
<div id="wrap">
    <include href="templates/parts/panel/eventPanel.html" />
    <include href="templates/parts/panel/devicePanel.html" />
    <include href="templates/parts/leftMenu.html" />
    <div class="main">
        <include href="templates/parts/forms/globalSearchForm.html" />
        <include href="templates/parts/systemNotification.html" />
        <include href="templates/parts/welcomeMessage.html" />

        {~
            $titleParam = $RESOURCE['url'] ?: '/';
        ~}

        <include href="templates/parts/infoHeader.html" with="title={{@titleParam}}, lastseen={{@RESOURCE.lastseen}}, subtitle={{@RESOURCE.title}}"/>
        <include href="templates/parts/widgets/resource.html" />

        <include href="templates/parts/tables/users.html" />
        <include href="templates/parts/mapWithIps.html" />
        <include href="templates/parts/tables/isps.html" />
        <include href="templates/parts/tables/devices.html" />
        <include href="templates/parts/tables/events.html" with="showChart=1"/>
    </div>
<include href="templates/parts/footerAdmin.html" />
</div>
