<include href="templates/parts/headerAdmin.html" />
<div id="wrap">
    <include href="templates/parts/leftMenu.html" />
    <div class="main">
        <include href="templates/parts/popups/closeAccountPopup.html" />
        <div class="columns">
            <div class="column settings-page">
                <include href="templates/parts/forms/globalSearchForm.html" />
                <include href="templates/parts/systemNotification.html" />
                <include href="templates/parts/welcomeMessage.html" />
                <include href="templates/parts/notification.html" />

                <include href="templates/parts/forms/timeZoneForm.html" />

                <repeat group="{{ @API_KEYS }}" value="{{ @API_KEY }}">
                    <include href="templates/parts/forms/retentionPolicyForm.html"
                        with="apiKeyId={{ @API_KEY.id }},retentionPolicy={{ @API_KEY.retention_policy }}" />
                </repeat>

                <set FREQUENCY="{{ isset(@VALUES)?@VALUES.unreviewed_items_reminder_freq:@PROFILE.unreviewed_items_reminder_freq }}" />
                <include href="templates/parts/forms/notificationPreferencesForm.html" with="frequency={{ @FREQUENCY }}" />

                <check if="{{ @IS_OWNER }}">
                    <include href="templates/parts/tables/sharedOperators.html" />
                </check>

                <include href="templates/parts/forms/changePasswordForm.html" />

                <set EMAIL="{{ @PROFILE ? @PROFILE.email : '' }}" />
                <set EMAIL="{{ isset(@EMAIL_VALUES) ? @EMAIL_VALUES.email : @EMAIL }}" />
                <include href="templates/parts/forms/changeEmailForm.html" with="email={{ @EMAIL }},waitingForConfirmation={{ @PENDING_CONFIRMATION_EMAIL }}" />

                <include href="templates/parts/forms/checkUpdatesForm.html" />

                <include href="templates/parts/forms/closeAccountForm.html" />
            </div>
        </div>
    </div>
<include href="templates/parts/footerAdmin.html" />
</div>
