<include href="templates/parts/header.html" />
<section class="front-block">
    <div class="container">
        <div class="column column-login">
            <div class="card">
                <div class="card-panel">
                    <div class="content">
                        <check if="{{ isset(@SUCCESS_MESSAGE) }}">
                            <true>
                                <p class="level-center">{{ @SUCCESS_MESSAGE | raw }}</p>
                            </true>
                        </check>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<include href="templates/parts/footer.html" />
