<include href="templates/parts/header.html" />
<section class="front-block">

    <div class="container">    
        <code><span style="background:#8080AA;color:#2B2A3D;">&nbsp;A secret place!&nbsp;</span><br>  
                    <check if="{{ isset(@ERROR_DATA) }}">
                        <true>
                            <p>* {{ @ERROR_DATA.message }}</p>
                        </true>
                    </check>

                    <check if="{{ @DEBUG }}">
                        <table>
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IP</td>
                                    <td>{{ @ERROR_DATA.ip }}</td>
                                </tr>
                                <tr>
                                    <td>Code</td>
                                    <td>{{ @ERROR_DATA.code }}</td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td>{{ @ERROR_DATA.date }}</td>
                                </tr>
                                <tr>
                                    <td>Message</td>
                                    <td>{{ @ERROR_DATA.message }}</td>
                                </tr>
                                <tr>
                                    <td>POST</td>
                                    <td><pre>{{ var_dump(@ERROR_DATA.post) }}</pre></td>
                                </tr>
                                <tr>
                                    <td>GET</td>
                                    <td><pre>{{ var_dump(@ERROR_DATA.get) }}</pre></td>
                                </tr>
                                <tr>
                                    <td>Trace</td>
                                    <td>{{ @ERROR_DATA.trace | raw }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </check>
        </code>
        <br>
        <div class="game"><pre id=b></pre></div><script>
        s=Array(50).fill(' '.repeat(100)).join('\n');
        b.innerText = s.slice(0,20*101+25) + '[· P R E S S   A N Y    K E Y   T O   S T A R T ·]' + s.slice(20*101+26+22,50*101);
        document.addEventListener('keydown',start);
        function start(e){
        document.removeEventListener('keydown',start);e.preventDefault();e.stopPropagation();
        X=Y=V=U=Z=t=1;onkeydown=e=>(k=e.which)&1?X-=k-38:Y-=k-39;setInterval("for(++t,o=Z,i=50;i--;)for(b.innerText=o+='\\n',j=99;j--;Y>49?Z+=Y=1:o+=i-Y|j-X-50?q?'·':'▓':q?'♥':Y=1)q=((j+t*Math.sin(A=i>>1)/9*Z>>3)*A*Z)**4%97<89",9);

        // enhanced version...
        const onkeydownOrignal = onkeydown
        onkeydown=e=>
        {
            // prevent non arrow keys
            const key = e.which
            if (key<37 || key>40)
                return;
            // call orignal keydown
            onkeydownOrignal(e);
        }
        }
        </script>
        <br>
        <div class="level-right"><small>Cross my heart by KilledByAPixel</small></div>
    </div>
</section>

<include href="templates/parts/footer.html" />
