<include href="templates/parts/header.html" />
<section class="front-block">
    <div class="container">
        <div class="column-login">
            <check if="{{ isset(@ERROR_MESSAGE) }}">
            <true>
                <p class="warning-text">{{ @ERROR_MESSAGE }}</p>
            </true>
            </check>
            <div class="card">
                <div class="card-panel">
                    <div class="content">                    
                        <check if="{{ isset(@SUCCESS_MESSAGE) }}">
                            <true>
                                <p class="level-center">{{ @SUCCESS_MESSAGE | raw }}</p>
                            </true>
                            <false>
                                <p class="level-center">{{ @Signup_form_title }}</p>
                                <hr />
                                <include href="templates/parts/forms/signupForm.html" />
                            </false>
                        </check>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<include href="templates/parts/footer.html" />
