<div class="card events-card" data-item-id="profile-form">
    <form method="POST" action="/settings">
        <input type="hidden" name="token" value="{{ @CSRF }}">
        <input type="hidden" name="cmd" value="changePassword" />

        <header class="card-header">
            <div class="card-header-title">{{ @AdminSettings_changePassword_form_title }}<p class="tooltip-info tooltip" title="{{ @AdminSettings_changePassword_form_title_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
        </header>

        <div class="card-content">
            <div class="content">
                <div class="field">
                    <label class="label">{{ @AdminSettings_changePassword_form_field_currentPassword_label }}</label>
                    <div class="control">
                        <input class="input" name="currentPassword" type="password" value="" placeholder="{{ @AdminSettings_changePassword_form_field_currentPassword_placeholder }}" required />
                    </div>
                </div>

                <div class="field">
                    <label class="label">{{ @AdminSettings_changePassword_form_field_newPassword_label }}</label>
                    <div class="control">
                        <input class="input" name="new-password" type="password" placeholder="{{ @AdminSettings_changePassword_form_field_newPassword_placeholder }}" minlength="{{ @MIN_PASSWORD_LENGTH }}" required />
                    </div>
                </div>

                <div class="field">
                    <label class="label">{{ @AdminSettings_changePassword_form_field_passwordConfirmation_label }}</label>
                    <div class="control">
                        <input class="input" name="password-confirmation" type="password" placeholder="{{ @AdminSettings_changePassword_form_field_passwordConfirmation_placeholder }}" minlength="{{ @MIN_PASSWORD_LENGTH }}" required />
                    </div>
                </div>

            </div>
        </div>

        <footer class="card-footer">
            <input type="submit" class="button is-primary" value="{{ @AdminProfile_form_button_save }}" >
        </footer>
    </form>
</div>
