<form method="POST" action="{{ 'api' | alias }}">
    <input type="hidden" name="token" value="{{ @CSRF }}">
    <input type="hidden" name="cmd" value="updateInterSystemDataExchange">
    <input type="hidden" name="keyId" value="{{ @API_KEY.id }}">
    <header class="card-header">
        <div class="card-header-title">{{ @AdminApi_exchange_blacklist_title }}<p class="tooltip-info tooltip" title="{{ @AdminApi_exchange_blacklist_title_tooltip }}"><include href="images/icons/information.svg" alt='' /></p>
        </div>
    </header>
    <div class="card-content">
        <div class="content">
            <div class="warning-text">
                {{ @AdminApi_exchange_blacklist_warning }}
            </div>
            <div class="field">
                <label class="label">{{ @AdminApi_exchange_blacklist_label }}</label>
                <div class="control">
                    <input type="checkbox" name="exchangeBlacklist" {{
                        @API_KEY.skip_blacklist_sync ? '' : 'checked' }} />
                </div>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <input type="submit" class="button is-primary"
            value="{{ @AdminApi_exchange_blacklist_save_button }}">
    </footer>
</form>
