<form action="/forgot-password" method="POST">
    <input type="hidden" name="token" value="{{ @CSRF }}">

    <div class="field">
        <div class="control">
            <input class="input" placeholder="{{ @ForgotPassword_form_email_label }}"
                type="email" id="email" name="email" required
                value="{{ isset(@VALUES) && isset(@VALUES.email) ? @VALUES.email : '' }}">
        </div>
    </div>

    <hr />

    <div class="bottom-line">
        <div>
            <a href="/login">{{ @ForgotPassword_form_login_link }}</a>
        </div>
        <div class="control">
            <button class="button is-primary" type="submit">{{@ForgotPassword_form_reset_button }}</button>
        </div>
    </div>
</form>
