<div class="card events-card" data-item-id="notification-preferences-form">
    <form method="POST" action="{{ 'settings' | alias }}">
        <input type="hidden" name="token" value="{{ @CSRF }}">
        <input type="hidden" name="cmd" value="updateNotificationPreferences" />

        <header class="class-header">
            <div class="card-header-title">{{ @AdminSettings_notificationPreferences_title }}<p class="tooltip-info tooltip" title="{{ @AdminSettings_notificationPreferences_title_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
        </header>

        <div class="card-content">
            <div class="content">
                <div class="field">
                    <label class="label">{{ @AdminSettings_notificationPreferences_reviewReminderFrequency_label
                        }}</label>
                    <div class="control">
                        <div class="selector">
                            <select class="input" name="review-reminder-frequency" id="review-reminder-frequency">
                                <repeat
                                    group="{{ \Type\UnreviewedItemsReminderFrequencyType::getValues() }}"
                                    value="{{ @key }}">
                                    <set active="{{ @frequency === @key }}" />
                                    <option value="{{ @key }}" {{ @active ? 'selected' : '' }}>{{
                                        @AdminSettings_notificationPreferences_reviewReminderFrequency_options[@key] }}
                                    </option>
                                </repeat>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="card-footer">
            <input type="submit" class="button is-primary"
                value="{{ @AdminSettings_notificationPreferences_button_save }}">
        </footer>
    </form>
</div>
