<table class="table-tile content info-tiles">
    <tr>
        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @Base_table_column_device_name }}<p class="tooltip-info tooltip" title="{{ @Base_table_column_device_name_tooltip }}"><include href="images/icons/information.svg" alt=''/>
                </p>
            </div>
            <p class="title" id="title"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @Base_table_column_os }}<p class="tooltip-info tooltip" title="{{ @Base_table_column_os_tooltip }}"><include href="images/icons/information.svg" alt=''/>
                </p>
            </div>
            <p class="title" id="os"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @Base_table_column_browser }}<p class="tooltip-info tooltip" title="{{ @Base_table_column_browser_tooltip }}"><include href="images/icons/information.svg" alt=''/>
                </p>
            </div>
            <p class="title" id="browser"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @Base_table_column_modified }}<p class="tooltip-info tooltip" title="{{ @Base_table_column_modified_tooltip }}"><include href="images/icons/information.svg" alt=''/>
                </p>
            </div>
            <p class="title" id="modified"></p>
        </td>
    </tr>
</table>
