<table class="table-tile content info-tiles">
    <tr>
        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminDomain_counters_free_email_provider }}<p class="tooltip-info tooltip" title="{{ @AdminDomain_counters_free_email_provider_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="free-email"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminDomain_counters_tranco_rank }}<p class="tooltip-info tooltip" title="{{ @AdminDomain_counters_tranco_rank_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="tranco-rank"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminDomain_counters_unavailable }}<p class="tooltip-info tooltip" title="{{ @AdminDomain_counters_unavailable_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="unavailable"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminDomain_counters_disposable }}<p class="tooltip-info tooltip" title="{{ @AdminDomain_counters_disposable_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="disposable"></p>
        </td>
    </tr>

    <tr>
        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminDomain_registration_date }}<p class="tooltip-info tooltip" title="{{ @AdminDomain_registration_date_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="creation-date"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminDomain_expiration_date }}<p class="tooltip-info tooltip" title="{{ @AdminDomain_expiration_date_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="expiration-date"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminDomain_counters_accounts }}<p class="tooltip-info tooltip" title="{{ @AdminDomain_counters_accounts_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="total-account"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminDomain_counters_fraud }}<p class="tooltip-info tooltip" title="{{ @AdminDomain_counters_fraud_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="fraud"></p>
        </td>
    </tr>
</table>
