<table class="table-tile content info-tiles">
    <tr>
        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIp_counters_country }}<p class="tooltip-info tooltip" title="{{ @AdminIp_counters_country_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="country"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIp_counters_asn }}<p class="tooltip-info tooltip" title="{{ @Base_table_column_asn_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="asn"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIp_counters_blocklist }}<p class="tooltip-info tooltip" title="{{ @AdminIp_counters_blocklist_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="blocklist"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIp_counters_blacklist }}<p class="tooltip-info tooltip" title="{{ @AdminIp_counters_blacklist_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="blacklist"></p>
        </td>
    </tr>

    <tr>
        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIp_counters_datacenter }}<p class="tooltip-info tooltip" title="{{ @AdminIp_counters_datacenter_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="dc"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIp_counters_vpn }}<p class="tooltip-info tooltip" title="{{ @AdminIp_counters_vpn_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="vpn"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIp_counters_tor }}<p class="tooltip-info tooltip" title="{{ @AdminIp_counters_tor_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="tor"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIp_counters_apple_relay }}<p class="tooltip-info tooltip" title="{{ @AdminIp_counters_apple_relay_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="ar"></p>
        </td>
    </tr>
</table>
