<table class="table-tile content info-tiles">
    <tr>
        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIsp_asn }}<p class="tooltip-info tooltip" title="{{ @Base_table_column_asn_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="asn"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIsp_counters_accounts }}<p class="tooltip-info tooltip" title="{{ @AdminIsp_counters_accounts_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="total-accounts"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIsp_counters_total_ips }}<p class="tooltip-info tooltip" title="{{ @AdminIsp_counters_total_ips_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="total-ips"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIsp_counters_visits }}<p class="tooltip-info tooltip" title="{{ @AdminIsp_counters_visits_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="total-visits"></p>
        </td>

        <td class="table-card tile-padding">
            <div class="subtitle">
                {{ @AdminIsp_counters_fraud }}<p class="tooltip-info tooltip" title="{{ @AdminIsp_counters_fraud_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title" id="total-fraud"></p>
        </td>
    </tr>
</table>
