<table class="table-tile content info-tiles" id="events-counters">
    <tr>
        <td class="table-card tile-padding totalUsers">
            <div class="subtitle">
                {{ @AdminResource_counters_total_users }}<p class="tooltip-info tooltip" title="{{ @AdminResource_counters_total_users_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title"></p>
        </td>

        <td class="table-card tile-padding totalCountries">
            <div class="subtitle">
                {{ @AdminResource_counters_total_countries }}<p class="tooltip-info tooltip" title="{{ @AdminResource_counters_total_countries_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title"></p>
        </td>

        <td class="table-card tile-padding totalIps">
            <div class="subtitle">
                {{ @AdminResource_counters_total_ips }}<p class="tooltip-info tooltip" title="{{ @AdminResource_counters_total_ips_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title"></p>
        </td>

        <td class="table-card tile-padding totalEvents">
            <div class="subtitle">
                {{ @AdminResource_counters_total_events }}<p class="tooltip-info tooltip" title="{{ @AdminResource_counters_total_events_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
            </div>
            <p class="title"></p>
        </td>
    </tr>
</table>
