<div class="details-card is-hidden" id="logbook-card">
    <header class="card-header">
        <p class="card-header-title">{{@Details_placeholder}}<button class="delete"></button></p>
    </header>

    <div class="content is-hidden">
        <div class="subheader">{{ @Details_ip }}</div>
        <div id="details_ip"></div>

        <div class="subheader">{{ @Details_event_timestamp }}</div>
        <div id="details_raw_time"></div>

        <div class="subheader">{{ @Details_error_type }}</div>
        <div id="details_error_type"></div>

        <div class="subheader">{{ @Details_request }}</div>
        <div id="details_request"></div>

        <div class="subheader">{{ @Details_error_text }}</div>
        <div id="details_error_text"></div>

        <hr />

        <div id="details_mailto"></div>
    </div>
    <div class="text-loader is-hidden"></div>
</div>
