<table class="table-tile content info-tiles" data-tab-id="top-users">
    <tr>
        <td class="table-card" id="most-active-users">
            <div class="gapless">
                <div class="subtitle">
                    {{ @AdminHome_top10_most_active_users }}<p class="tooltip-info tooltip" title="{{ @AdminHome_top10_most_active_users_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
                <include href="templates/parts/home/topTenTable.html" with="c1=@Top10_user,c2=@Top10_events,id=most-active-users-table"/>
            </div>
        </td>

        <td class="table-card" id="most-active-countries">
            <div class="gapless">
                <div class="subtitle">
                    {{ @AdminHome_top10_active_countries }}<p class="tooltip-info tooltip" title="{{ @AdminHome_top10_active_countries_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
                <include href="templates/parts/home/topTenTable.html" with="c1=@Top10_country,c2=@Top10_users,id=most-active-countries-table"/>
            </div>
        </td>

        <td class="table-card" id="most-active-urls">
            <div class="gapless">
                <div class="subtitle">
                    {{ @AdminHome_top10_active_urls }}<p class="tooltip-info tooltip" title="{{ @AdminHome_top10_active_urls_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
                <include href="templates/parts/home/topTenTable.html" with="c1=@Top10_resource,c2=@Top10_users,id=most-active-urls-table"/>
            </div>
        </td>
    </tr>

    <tr>
        <td class="table-card" id="ips-with-the-most-users">
            <div class="gapless">
                <div class="subtitle">
                    {{ @AdminHome_top10_ips_with_the_most_users }}<p class="tooltip-info tooltip" title="{{ @AdminHome_top10_ips_with_the_most_users_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
                <include href="templates/parts/home/topTenTable.html" with="c1=@Top10_ip,c2=@Top10_users,id=ips-with-the-most-users-table"/>
            </div>
        </td>

        <td class="table-card" id="ips-with-tor-one">
            <div class="gapless">
                <div class="subtitle">
                    {{ @AdminHome_top10_ips_with_tor_one }}<p class="tooltip-info tooltip" title="{{ @AdminHome_top10_ips_with_tor_one_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
                <include href="templates/parts/home/topTenTable.html" with="c1=@Top10_ip,c2=@Top10_events,id=ips-with-tor-one-table"/>
            </div>
        </td>

        <td class="table-card" id="users-with-most-ips">
            <div class="gapless">
                <div class="subtitle">
                    {{ @AdminHome_top10_users_with_the_most_ips }}<p class="tooltip-info tooltip" title="{{ @AdminHome_top10_users_with_the_most_ips_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
                </div>
                <include href="templates/parts/home/topTenTable.html" with="c1=@Top10_user,c2=@Top10_ips,id=users-with-most-ips-table"/>
            </div>
        </td>
    </tr>
</table>
