:root {
  color-scheme: dark;
}
body {
    line-height: 1.4286;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: Helvetica, Arial, sans-serif;
    background: #2b2a3d;
    color: #bfbed0;
    padding-right: 0px !important;
    font-style: normal;
    position: relative;
    height: 100%;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation;
}

.input {
    max-width: 100%;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 1rem;
    height: 2.5em;
    line-height: 1.5;
    padding: 6px 9px;
    vertical-align: top;
    font-family: Helvetica, Arial, sans-serif;
}

.front-block:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    min-height: 350px;
    background: url(/ui/images/logo.svg) no-repeat center calc(100% + 1px) / 157px auto, linear-gradient(#2b2a3d 96%, #36354f 100%, #2b2a3d 100%);
} 

.front-block {
    display: block;
    min-height: 500px;
    height: 100vh;
    position: relative;    
    background: linear-gradient(#131220 70%, #2b2a3d); 
}

.front-block .container {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
}

.column-login {
    width: 300px;
    text-align: left;
}

.column-login .card {
    background: #36354f;
    box-shadow: inset 1px 1px #575678, inset -1px -1px #131220;
}

.column-login hr {
    box-shadow: inset 0 1px 0#1f212f, inset 0-1px #575678;
    border: 0;
    display: block;
    height: 2px;
    margin: 0.67rem 0;
}

.footer-text {
    text-align: center;
    margin-top: 0.67rem;
}

.bottom-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button:active,
.button:focus,
.input:active,
.input:focus,
.paginate_button:active,
.paginate_button:focus {
    outline: 0;
}

.button,
.paginate_button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-table .content.padded {
    padding: 0.57em 0.75em;
}

.column table tr:last-child {
    border-bottom: 0;
}
.delete {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #575678;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    /*
    flex-grow: 0;
    flex-shrink: 0;*/
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width: 20px;
}

.delete::after,
.delete::before {
    background-color: #bfbed0;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.delete::before {
    height: 2px;
    width: 50%;
}

.delete::after {
    height: 50%;
    width: 2px;
}

.delete:focus,
.delete:hover {
    background-color: #8180a0;
}

body,
h3,
hr,
li,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 100%;
    font-weight: 400;
}

button,
input,
textarea {
    margin: 0;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
textarea,
th {
    padding: 0;
}

a,
html {
    cursor: default;
}

html {
    scrollbar-width: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.game {
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0;
    border: 5px double #8080AA;
    padding: 10px;
    color: #00A7A8;
    width: 625px;
    background: #0A00AA;
    box-shadow: 20px 20px 0 #131220;
}
a {
    text-decoration: none;
    color: #6e9fff;
}

a:hover {
    color: #01ee99;
}

.box,
article,
aside,
footer,
header,
hr,
section {
    display: block;
}

hr {
    background-color: #575678;
    border: 0;
    height: 1px;
    margin: 1.5rem 0;
}

table td,
table th {
    vertical-align: top;
}

.box {
    box-shadow: 1px 1px 0#575678, inset 1px 1px #000;
    padding: 0.57em 0.75em;
}

.button .icon {
    height: 1.5em;
    width: 1.5em;
}

.button .icon:first-child:last-child {
    margin-left: -7px;
    margin-right: -7px;
}

.button.is-small {
    font-size: 0.75rem;
}

.content li + li {
    margin-top: 0;
}

.content h3 {
    font-weight: 600;
    line-height: 1.125;
    font-size: 1.5em;
}
.importantUser {
    color: #f5b944;
}
.content ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
}

.content table {
    width: 100%;
}

.icon,
.tags {
    align-items: center;
}

.icon {
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tags .tag {
    margin-bottom: 0.5rem;
}

.tags .tag:not(:last-child) {
    margin-right: 0.5rem;
}

.tags:last-child {
    margin-bottom: -0.5rem;
}

.tags.has-addons .tag {
    margin-right: 0;
}

.tags.has-addons .tag:not(:first-child) {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tags.has-addons .tag:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tag:not(body) {
    align-items: center;
    background-color: #575678;
    border-radius: 4px;
    color: #ffffff;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}

.tag:not(body).is-link {
    background-color: #f5b944;
    color: #131220;
}

.tag:not(body).is-delete {
    margin-left: 1px;
    padding: 0;
    position: relative;
    width: 2em;
}

.tag:not(body).is-delete::after,
.tag:not(body).is-delete::before {
    background-color: currentColor;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.tag:not(body).is-delete::before {
    height: 1px;
    width: 50%;
}

.tag:not(body).is-delete::after {
    height: 50%;
    width: 1px;
}

.tag:not(body).is-delete:focus,
.tag:not(body).is-delete:hover {
    background-color: #e8e8e8;
}

.tag:not(body).is-delete:active {
    background-color: #dbdbdb;
}

a.tag:hover {
    text-decoration: underline;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #01ee99;
    word-break: break-word;
    margin-top: 0px;
    margin-bottom: 0;
}

.title a {
    color: #01ee99;
}

.subtitle {
    color: #8180a0;
    word-break: break-word;
}

.label {
    display: block;
    font-size: 1rem;
}

.label:not(:last-child) {
    margin-bottom: 0.57em;
}

.field:not(:last-child) {
    margin-bottom: 0.67rem;
}

#important-users {
    display: block;
    padding: 0rem 0.67rem 0.67rem 0.67rem;
    border-bottom: 1px solid #2b2a3d;
}

#important-users .control {
    display: inline-block;
    margin: 0.67rem 0.75rem 0 0;
}

.control {
    font-size: 1rem;
    box-sizing: border-box;
    position: relative;
    text-align: inherit;
    display: inherit;
    clear: both;
    z-index: 9;
}

.control.has-icons-left .input:focus ~ .icon {
    color: #4a4a4a;
}

.control.has-icons-left .icon {
    color: #dbdbdb;
    height: 2.5em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2.5em;
    z-index: 4;
    left: 0;
}

.card {
    max-width: 100%;
    position: relative;
}

.card-table {
    background: #131220;
}

.card-content {
    padding: 0.67rem 0.75rem;
    background: #131220;    
}

.card-panel {
    padding: 1.14rem 0.75rem;
}
.card-panel .input {
    background: #131220;
    border-bottom-color: #575678;
    border-right-color: #575678;
}
.column-login .success-text {
    font-size: 13px;
    padding: 7px 9px;
    background: #01ee99 url(/ui/images/transparent.png);
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    color: #131220;
    margin-bottom: 1px;
}
.column-login .warning-text {
    font-size: 13px;
    padding: 7px 9px;
    background: #f5b944 url(/ui/images/transparent.png);
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    color: #131220;
    margin-bottom: 1px;
}
.card-footer {
    padding: 0px 0.75em 0.75em;
    text-align: right;
    background: #131220;
}

.pop-up-footer {
    padding: 0px 0.75em 0.75em;
    background: #36354f;
    width: 300px;
    position: fixed;
    text-align: right;
    bottom: 0px;
    box-shadow: inset 1px 0px #575678, inset -1px -1px 0 #131220;
}

.level-left {
    text-align: left !important;
}

.level-right {
    text-align: right !important;
}

.level-center {
    text-align: center !important;
}

.menu {
    height: 100%;
    overflow-y: auto;
}

.menu-list a,
.navbar-item {
    display: block;
}

.navbar-item {
    line-height: 1;
    padding-top: 1.05em;
    position: relative;
    text-align: left;
    padding-bottom: 1.05em;
    padding-left: 1.14rem;
    height: 56px;
    border-bottom: 1px solid #131220;
}

.dataTables_paginate {
    padding: 1.26rem 0.75rem;
    text-align: right;
}

.paginate_button {
    font-size: 1em;
    margin: 0.25rem;
    min-width: 2.5em;
}

.paginate_button[disabled] {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    color: #575678;
}

.pagination,
.paginate_button {
    margin-bottom: 0;
    margin-top: 0;
}

.column {
    display: block;
    padding: 0.57em 0.75em;
}

.column.is-full {
    width: 100%;
}

.column.is-half {
    width: 50%;
}

.column.settings-page {
    width: 650px;
    margin-right: auto;
}

.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.67rem;
}

.columns:last-child {
    margin-bottom: -0.67rem;
}

.columns.is-centered .column {
    margin-left: auto;
    margin-right: auto;
}

.gapless .columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.gapless .columns > .column {
    margin: 0;
    padding: 0;
}

.gapless .columns:last-child {
    margin-bottom: 0;
}

.tile {
    align-items: stretch;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    padding: 0.57em 0.75em;
}

.table-tile {
    border-spacing: 1.14em 1.14em;
    border-collapse: separate;
    margin: -1.14em -1.14em;
    clear: both;
    width: calc((100%) + (2.28em));
}

.table-tile .table-card {
    background: #131220;
    max-width: 0;
    box-shadow: 1px 1px 0 #36354f, inset 1px 1px #000;
}
#events-counters .table-card, .info-tiles .table-card{
    height: 66px;
}
#dashboard-counters .table-card{
    height: 116px;
}
.tile-padding {
    padding: 0.57em 0.75em;
}

.table-tile .gapless {
    padding: 0;
    min-height: 200px;
}

.gapless .subtitle {
    padding: 0.57em 0.75em;
}

.table-tile:last-of-type:not(:last-child) {
    margin-bottom: 0;
}

.is-hidden {
    display: none !important;
}

table.dataTable {
    clear: both;
}

table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting_asc_disabled,
table.dataTable thead > tr > th.sorting_desc_disabled,
table.dataTable thead > tr > td.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting_asc_disabled,
table.dataTable thead > tr > td.sorting_desc_disabled {
    cursor: pointer;
    position: relative;
    padding-right: 26px;
}

table.dataTable thead > tr > th.sorting:before,
table.dataTable thead > tr > th.sorting:after,
table.dataTable thead > tr > th.sorting_asc:before,
table.dataTable thead > tr > th.sorting_asc:after,
table.dataTable thead > tr > th.sorting_desc:before,
table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > th.sorting_asc_disabled:before,
table.dataTable thead > tr > th.sorting_asc_disabled:after,
table.dataTable thead > tr > th.sorting_desc_disabled:before,
table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
    position: absolute;
    display: block;
    opacity: 0.25;
    right: 10px;
    line-height: 10px;
    font-size: 0.9em;
}

table.dataTable thead > tr > th.sorting:before,
table.dataTable thead > tr > th.sorting_asc:before,
table.dataTable thead > tr > th.sorting_desc:before,
table.dataTable thead > tr > th.sorting_asc_disabled:before,
table.dataTable thead > tr > th.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:before {
    bottom: 50%;
    content: "▲";
}

table.dataTable thead > tr > th.sorting:after,
table.dataTable thead > tr > th.sorting_asc:after,
table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > th.sorting_asc_disabled:after,
table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
    top: 50%;
    content: "▼";
}

table.dataTable thead > tr > th.sorting_asc:before,
table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:after {
    opacity: 0.6;
}

table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > th.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting_asc_disabled:before {
    display: none;
}

table.dataTable thead > tr > th:active {
    outline: 0;
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 40px;
    width: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable td.dataTables_empty {
    text-align: center;
}

.tooltipster-base {
    display: flex;
    pointer-events: none;
    position: absolute;
    z-index: 99999;
}

.tooltipster-box {
    flex: 1 1 auto;
}

.tooltipster-content {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    color: #fff;
    line-height: 18px;
    padding: 6px 14px;
}

.tooltipster-fade {
    opacity: 0;
}

.tooltipster-fade.tooltipster-show {
    opacity: 1;
}

.tooltipster-sidetip .tooltipster-box {
    border-radius: 3px;
    border: 0;
    background: #8180a0;
    margin-top: 8px;
}

.tooltipster-sidetip .tooltipster-arrow {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 8px;
    margin-left: -8px;
    width: 16px;
}

.tooltipster-sidetip .tooltipster-arrow-border {
    height: 0;
    position: absolute;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #8180a0;
    border-bottom-color: #8180a0;
}

.tooltipster-sidetip .tooltipster-arrow-uncropped {
    position: relative;
    top: -8px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
    top: unset;
    bottom: 0;
    transform: rotate(180deg);
}

.tooltipster-sidetip.tooltipster-top .tooltipster-box {
    margin-top: 0;
    margin-bottom: 8px;
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-background {
    display: none;
}

svg {
    touch-action: none;
}

.jvectormap-container,
.uplot canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

.jvectormap-container {
    overflow: hidden;
    touch-action: none;
}

.jvectormap-tip,
.jvectormap-zoomin,
.jvectormap-zoomout {
    position: absolute;
    border-radius: 3px;
    background: #575678;
    padding: 3px;
    color: #bfbed0;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
    left: 0.57em;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
    box-sizing: content-box;
    width: 10px;
    line-height: 0.6;
    height: 10px;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}

.jvectormap-legend-cnt {
    position: absolute;
}

.jvectormap-legend-cnt-h {
    bottom: 0;
    right: 0;
}

.jvectormap-legend-cnt-v {
    top: 0;
    right: 0;
}

.uplot,
.uplot *,
.uplot ::after,
.uplot ::before {
    box-sizing: border-box;
}

.uplot {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    width: min-content;    
}

.u-wrap {
    position: relative;
    user-select: none;
}

.u-over,
.u-under {
    position: absolute;
}

.u-under {
    overflow: hidden;
}

.uplot canvas {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.u-axis {
    position: absolute;
}

.u-cursor-pt,
.u-cursor-x,
.u-select {
    position: absolute;
    pointer-events: none;
}

.u-cursor-pt,
.u-cursor-x {
    left: 0;
    top: 0;
    will-change: transform;
    z-index: 100;
}

.u-hz .u-cursor-x {
    height: 100%;
    border-right: 1px solid #575678;
}

.u-cursor-pt {
    border-radius: 50%;
    border: 0 solid;
    background-clip: padding-box;
}

.u-cursor-pt.u-off,
.u-cursor-x.u-off {
    display: none;
}
#wrap {
    position: relative;
    min-height: 100%;
}
.sidebar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 190px;
    background-color: #36354f;
    border-right: 1px solid #131220;
}
.main {
    padding-top: 1.14em;
    margin-left: 206px;
    position: relative;
    width: 995px;
    padding-bottom: 59px;
}

.table svg,
.table thead {
    vertical-align: middle;
}

.content table td img {
    margin-right: 3px;
    vertical-align: middle;
}

.control.has-icons-left .input {
    padding-left: 2.3em;
}

.card-header-title {
    background: #36354f;
    box-shadow: inset 1px 1px #131220;
    padding: 0.57em 0.75em;
}

.title.low {
    color: #01ee99;
}
.title.medium {
    color: #f5b944;
}
.title.high {
    color: #fb6e88;
}

.button {
    position: relative;
    display: inline-block;
    height: 2rem;
    padding-left: 1.14rem;
    padding-right: 1.14rem;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    border: 0;
    font-weight: 400;
    box-shadow: -0.5px -0.5px 0 0.5px #fdfaf4, 0 0 0 1px #4d4a44, 0 0 0 2px #000;
    border-radius: 1px;
    outline: none;
    background: #bfbed0;
    -webkit-appearance: none;
    appearance: none;
    fill: #000;
    font-size: 14px;
}
.button:active:enabled,
.button.clicked {
    transform: translate(2px, 2px);
    border-color: transparent;
    border-width: 0px;
}
.button.is-primary,
.button.is-primary:active {
    background-color: #a0efcf;
}
.button.is-warning {
    background-color: #f5b944;
}

.button.is-danger {
    background-color: #fb6e88;
}

.button.is-warning:hover {
    background-color: #f5b944;
}

.button.is-warning[disabled] {
    background-color: #ffe08a;
}

.button.is-warning.is-loading::after {
    border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7);
}

.marker {
    background: #575678 url(/ui/images/transparent.png);
    color: #fff;
}

#world-map-markers {
    width: 995px;
    height: 300px;
    clear: both;
}

.input,
textarea {
    border-style: solid;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #36354f;
    border-bottom: 1px solid #36354f;
    background: #2b2a3d;
    color: #ffffff;
    border-radius: 0;
}

textarea {
    resize: vertical;
    font-family: monospace, monospace;
    font-size: 11px;
    width: 97%;
    padding: 3px;
}


.label {
    font-weight: 400;
}

.input::-moz-placeholder {
    color: #8180a0;
}

.input::-webkit-input-placeholder {
    color: #8180a0;
}

.input:-moz-placeholder {
    color: #8180a0;
}

.input:-ms-input-placeholder {
    color: #8180a0;
}

table.dataTable > tbody > tr:hover {
    background: #212032;
}

.content table td,
.content table th {
    padding: 0.57em 0 0.57em 0.75em;
    vertical-align: middle;
}

#review-queue-table td {
    padding: 0.3em 0 0.3em 0.75em;
}

.content table thead th {
    text-align: left;
    font-weight: 400;
    color: #8180a0;
}

.content table tr {
    border-bottom: 1px solid #2b2a3d;
}

.country-flag {
    vertical-align: text-bottom;
    height: 24px;
    border: 1px solid #36354f;
    margin-top: 5px;
    margin-right: 0.34rem;
}

a.reload svg {
    vertical-align: text-bottom;
}

.menu-list a {
    padding: 0.57em 0 0.57em 1.71em;
    color: #bfbed0;
    white-space: nowrap;
}

.menu-list a:hover {
    background: #3d3c5a;
    cursor: default;
}

.menu-list a.is-active {
    background: #2b2a3d url(/ui/images/transparent.png);
    box-shadow: inset 0px -1px #131220;
}
.menu-list a.is-active:hover{
    color: #fff;
}
.menu-list a.is-warning {
    color: #f5b944;
}
.menu-list a.is-normal {
    box-shadow: inset 0px -1px 0 #131220, inset 0px 1px #575678;
}

.menu-list a svg {
    vertical-align: text-bottom;
    margin-right: 0.57em;
}

.statChart {
    width: 995px;
    height: 200px;
    clear: both;
}
.tooltipline {
    padding: 0.34rem 0.75rem;
    line-height: 2;
    font-size: 13px;
    z-index: 1000;
    white-space: nowrap;
    border-radius: 3px;
}
.jvectormap-tip {
    display: none;
    font-size: 13px;
    line-height: 1.2;
    color: #ffffff;
    background-color: #8180a0;
}

.paginate_button,
input[type="datetime-local"] {
    border: 0;
    border-radius: 0;
}

.paginate_button,
.ellipsis {
    background: #36354f;
    color: #bfbed0;
    box-shadow: inset -1px 0 #131220, inset 1px 1px #575678;
    padding: 0.57em 1em;
    margin: 0;
}

.paginate_button:hover {
    background: #3d3c5a;
    color: #bfbed0;
}

.paginate_button.current {
    background: #2b2a3d url(/ui/images/transparent.png);
    box-shadow: none;
}

.paginate_button:active, .menu-list a:active {
    box-shadow: none;
}

.paginate_button[disabled] {
    opacity: 1;
    background: #353850;
    box-shadow: 1px 1px 0#000, inset 1px 1px #575678;
}

div.flag img {
    height: 14px;
    width: 18px;
    margin-right: 3px;
    border: 1px solid #36354f;
    vertical-align: middle;
}
#details_lang span {
    width: 46px;
}
input[type="datetime-local"] {
    box-shadow: 1px 1px 0#36354f, inset 1px 1px #000000;
    width: 208px;
}

.filtersForm {
    float: right;
    margin: 0.63rem 0.75rem;
    position: relative;
}

.filtersForm.disabled {
    cursor: wait;
}

.filtersForm.disabled a {
    pointer-events: none;
}

.filtersForm .field {
    display: inline-block;
    margin-bottom: 0;
}

.filtersForm .field:not(:last-child) {
    margin-right: 0.75rem;
}

.settings-page .field,
.manual-check-page .field {
    width: 100%;
    display: table;
}

.settings-page .control,
.manual-check-page .control {
    display: table-cell;
    width: 73%;
}

.settings-page .label {
    display: table-cell;
    width: 27%;
    text-align: right;
    vertical-align: middle;
    padding-right: 0.57em;
    color: #8180a0;
}

.settings-page .field:not(:last-child),
.manual-check-page .field:not(:last-child) {
    margin-bottom: 0.57em;
}

.manual-check-page .search-form td {
    vertical-align: bottom;
}

#dasboard-form {
    float: right;
}

#dasboard-form .filtersForm {
    padding: 0;
    margin: 0;
}
#dasboard-form .dateselector {
    background: #131220;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    width: 30px;
    left: 0;
}

input[type="datetime-local"]::placeholder {
    color: #8180a0;
}

.searchForm {
    float: right;
    padding: 0.63rem 0.75rem;
    clear: both;
}

#search {
    width: 350px;
    box-shadow: 1px 1px 0 #36354f, inset 1px 1px #000000;
    border: 0;
}

.control.has-icons-left .icon,
.field svg {
    vertical-align: middle;
}

#search::placeholder {
    color: #8180a0;
}

#search:-ms-input-placeholder {
    color: #8180a0;
}

#search::-ms-input-placeholder {
    color: #8180a0;
}

.pop-up-card {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);;
    height: 250px;
    /*overflow-y: auto;
    overflow-x: hidden;
    bottom: 0px;*/
    padding: 0;
    width: 500px;
    /*min-height: 100%;*/
    z-index: 999;
    background-color: #36354f;
    box-shadow: inset 1px 1px #575678, inset -1px -1px 0 #131220;
}

.pop-up-card-header-title {
    background: #36354f;
    box-shadow: inset 1px 1px #575678, inset -1px -1px 0 #131220;
    padding: 0.57em 0.75em;
}

.pop-up-card .content {
    padding: 0.67rem 0.75rem;
}
.pop-up-card .content .nolight {
    color: #bfbed0;
}
/*.pop-up-card .card-header-title {
    box-shadow: inset 1px -1px #575678, inset -1px -2px 0 #131220;
}*/
.pop-up-card header .delete {
    right: 0.75rem;
    position: absolute;
    top: 0.75rem;
}

.pop-up-card div.subheader:first-child {
    margin-top: 0;
}

.pop-up-card div.subheader {
    font-size: 0.9rem;
    color: #8180a0;
    margin-top: 1.14rem;
}

.details-card {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    bottom: 0px;
    padding: 0;
    width: 330px;
    min-height: 100%;
    z-index: 999;
    background-color: #36354f;
    box-shadow: inset 1px 1px #575678;
}
.details-card::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background: url(/ui/images/transparent.png) rgba(0,0,0,0.125);
    z-index: -1; 
    height: 100%;
    pointer-events: none;
}
.details-card .content {
    padding: 0.67rem 0.67rem 75px 0.75rem;
    background-color: #36354f;
    height: 100%;
    overflow-y: auto;
    overflow-block: auto;
    overflow-x: hidden;
    overflow-inline: hidden;
    box-shadow: inset 1px 0px #575678, inset 0px -1px 0 #131220;
    scrollbar-width: thin;
    scrollbar-color: #bfbed0;
}
.details-card .content .iptype, .no-rules-tile, .details-card .content .reviewstatus, .typestatus, .details-card .content .iptype.localhost, .details-card .content .iptype.residential, .details-card .content .iptype.applerelay, .details-card .content .iptype.starlink {
    background: #2b2a3d;
}
.details-card .content .nolight {
    color: #bfbed0;
}
.details-card input, .details-card textarea {
    border-bottom-color: #575678;
    border-right-color: #575678;
}
.details-card .card-header-title {
    box-shadow: inset 1px -1px #575678, inset 0px -2px 0 #131220;
}

.details-card header .delete {
    right: 0.75rem;
    position: absolute;
    top: 0.57rem;
}

.details-card div.loader {
    margin: 0 auto;
    width: 5em;
    height: 5em;
}
#loader {
    position: absolute;
    left: 497px;
    top: 120px;
    z-index: 100;
}

.details-card div.subheader:first-child {
    margin-top: 0;
}

.details-card div.subheader {
    font-size: 0.9rem;
    color: #8180a0;
    margin-top: 1.14rem;
}

#user-email img,
.details-card img {
    vertical-align: text-bottom;
    margin-right: 3px;
}

.text-loader {
    font-size: 1.5rem;
    font-weight: 400;
    color: #01ee99;
}

.reviewstatus, .typestatus {
    font-size: 13px;
    border: 1px solid #575678;
    padding: 0px 3px;
    border-radius: 2px;
    white-space: nowrap;
    width: 85px;
    display: block;
    background: #131220;
    text-align: center;
}
.notification {
    padding: 0.57rem 0.75rem;
    margin-bottom: 1.14rem;
    box-shadow: -1px -1px 0 #36354f;
    border: 1px solid #131220;
    color: #bfbed0;
    background: url(/ui/images/transparent.png);
    display: table;
    margin-bottom: 1.14rem;
}
.notification:only-child {
    margin-bottom: 1.14rem;
}
.notification .delete {
    margin-left: 0.57rem;
}
.faded {
    opacity: 0.55;
}
.notification.is-primary {
    color: #01ee99;
    background-color: #1D3036;
}
.notification.is-warning {    
    background-color: #2F2B2F;
    color: #f5b944;
}
.notification.is-danger {
    color: #fb6e88;
    background-color: #302334;
}
.iptype,
.no-rules-tile {
    font-size: 13px;
    border: 1px solid #575678;
    padding: 0px 3px;
    border-radius: 2px;
    white-space: nowrap;
    width: 72px;
    display: block;
    text-align: center;
}
.reviewstatus.Blacklisted,
.iptype.blacklisted,
.iptype.spam_list,
.iptype.tor {
    color: #fb6e88;
    border-color: #fb6e88;
    background: #302334;
}
.iptype.localhost,
.iptype.residential,
.iptype.applerelay,
.iptype.starlink {
    background: #131220;
}
.iptype.datacenter,
.iptype.vpn {
    border-color: #f5b944;
    color: #f5b944;
    background: #2F2B2F;
}
.reviewstatus.Whitelisted {
    border-color: #01ee99;
    background: #1D3036;
    color: #01ee99;
}
.bullet {
    height: 8px;
    width: 8px;
    border-radius: 9999px;
    margin-right: 3px;
    display: inline-block;
}

.page_view, .account_login, .account_logout, .page_search{
    background-color: #8180a0;
}

.page_edit, .account_edit, .account_registration,
.validation_error{
    background-color: #f5b944;
}

.page_delete, .account_login_fail, .account_email_change, .account_password_change, .error,
.critical_error, .critical_validation_error {
    background-color: #fb6e88;
}

.success {
    background-color: #01ee99;
}

article.tile .columns {
    position: relative;
}

.clearDates,
.is-loading .ruleIcon svg {
    display: none !important;
}

.clearDates {
    position: relative;
    width: 16px;
    margin-right: 0.57em;
    vertical-align: middle;
}

.clearDates svg {
    display: inherit;
    position: absolute;
    top: 0;
    left: -10%;
}

.mismatched .clearDates {
    display: inherit !important;
}

.importantUser,
.importantUser a,
.importantUser abbr {
    color: #f5b944;
}

.searchline {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 0.57rem;
    margin-bottom: 1.14rem;
    border-bottom: 1px solid #575677;
    box-shadow: inset 0 -1px 0 #131220;
}

.menu-logo {
    display: block;
    position: relative;
    height: 59px;
    border-bottom: 1px solid #131220;
}
.menu-logo img {
    position: absolute;
    left: 1.71rem;
    bottom: 8px;
}

.headline {
    position: relative;
    display: block;
    width: 100%;
}
.headline .legitfraud{
    background: #131220;
    padding: 4px;
    margin-top: -4px;
}
.grey-title {
    color: #bfbed0;
}
.headline .subtitle {
    margin-top: 1.14rem;
}
.headline .subtitle, .score-details-content p{
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: 2px 3px;
    font-size: 12px;
    background-color: #575678;
    color: #bfbed0;
    word-break: break-all;
    box-sizing: border-box;
    margin-bottom: 4px;
    margin-right: 3px;
}

.headline + .table-tile {
    margin-top: 0;
}
#score p {
    margin-top: 0.67rem;
}

.score-details {
    margin-top: 1.14rem;
    margin-bottom: 1.112rem;
    min-height: 25px;
    position: relative;
    clear: both;
}

.score-details-content {
    display: inline-block;
}

.head-button {
    float: right;
    margin: 0;
    position: relative;
}

.card-header-title span {
    padding: 2px 4px 2px 4px;
    white-space: nowrap;
    border-radius: 3px;
    background: #575678;
    color: #bfbed0;
}

.card-header-title div {
    margin: 0;
    background: #36354f;
    box-shadow: inset 1px 1px #575678;
    padding: 0.57em 0.75em;
}

.dateselector {
    padding: 7px 7px 8px 2.3em;
    font-size: 1rem;
    position: relative;
    vertical-align: top;
    display: block;
    box-shadow: 1px 1px 0 #36354f, inset 1px 1px #000000;
    background: #2b2a3d;
}

.angrt {
    color: #8a91a8;
    margin-left: 1.5rem;
}

.dateselector a,
.rulescore {
    color: #bfbed0;
}

#rule-selectors {
    padding: 0.63rem 0.75rem;
    border-top: 1px solid #2b2a3d;
    border-bottom: 1px solid #2b2a3d;
}

.dateselector a:hover {
    background: #3d3c5a;
}

.dateselector a.active {
    background: #575678;
    color: #bfbed0;
}

.dateselector a {
    padding: 3px 4px 1px 4px;
    border-radius: 3px;
}

.rulescore {
    padding: 7px;
    background: #2b2a3d;
    font-size: 1rem;
    border: 0;
    width: 90px;
    box-shadow: 1px 1px 0 #36354f, inset 1px 1px #000000;
    white-space: nowrap;
}

.input-field-changed input {
    color: #f5b944;
}

.title .score {
    width: 30px;
    height: 29px;
    vertical-align: baseline;
    font-size: 19px;
    line-height: 29px;
    margin-right: 0.57rem;
}

#score {
    margin-bottom: 1.14em;
    clear: both;
}
.score {
    font-size: 13px;
    color: #000000;
    letter-spacing: -0.3px;
    height: 19px;
    width: 20px;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    font-weight: 600;
    font-family: monospace, monospace;
    margin-right: 3px;
}
.score.low {
    background: #fb6e88;
}

.score.medium {
    background: #f5b944;
}

.score.high {
    background: #01ee99;
}
.score.empty {
    background: #575678;
}

.button.is-loading.light-loader::after,
.control.is-loading::after,
.loader,
.select.is-loading::after {
    -webkit-animation: spinAround 0.5s infinite linear;
    animation: spinAround 0.5s infinite linear;
    border: 2px solid #bfbed0;
    border-radius: 9999px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
}

.button.is-loading.dark-loader::after {
    -webkit-animation: spinAround 0.5s infinite linear;
    animation: spinAround 0.5s infinite linear;
    border: 2px solid #131220;
    border-radius: 9999px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
}

@-webkit-keyframes spinAround {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

.control.is-loading::after,
.loader,
.select.is-loading::after {
    position: relative;
}

.button.is-loading.is-warning,
.button.is-loading.is-neutral,
.button.is-loading {
    color: transparent;
    pointer-events: none;
}

.button.is-loading::after {
    left: 50%;
    top: 50%;
    margin: -6px;
    position: absolute;
}

#user-email.loading,
#user-id.loading,
#user-ip.loading,
#user-domain.loading {
    padding: 0.75rem;
}

.countryCodeDetails {
    float: left;
    padding-right: 5px;
}

.itemDetails {
    padding: 0.57em 0.75em;
    display: table;
    width: 100%;
    border-spacing: 0;
}

/*
.itemDetails span:last-of-type {
    text-align: right;
}*/

.itemDetails p {
    margin-left: 0px !important;
}

.itemDetails span {
    display: inline-block;
}

.itemDetails .detailsTileTitle {
    width: 88px;
    display: table-cell;
    color: #8180a0;
    white-space: nowrap;
}

.itemDetails .detailsTileValue {
    width: 124px;
    text-align: right;
    display: table-cell;
}

.main-graph {
    background: #131220;
    position: relative;
    clear: both;
}
.separate-graph {
    margin-bottom: 1.14rem;
    box-shadow: 1px 1px 0 #36354f, inset 1px 1px #000;
}

.ruleName {
}
.warning-text {
    color: #f5b944;
}
.success-text {
    color: #01ee99;
}

.events-card {
    max-width: 100%;
    position: relative;
    margin-bottom: 1.14rem;
}

.events-card:last-of-type {
    margin-bottom: 0;
}

.autocomplete-result-list {
    left: 0%;
    visibility: hidden;
}

#rules-table thead th:first-child {
    text-align: right;
}

.ruleHighlight {
    font-family: monospace, monospace;
    padding: 1px 3px;
    border-radius: 3px;
    display: inline;
    margin-right: 3px;
}
/* positive green */
.ruleHighlight.positive {
    color: #01ee99;
    border: 1px solid #01ee99;
}
/* none gray */
.ruleHighlight.none {
    color: #bfbed0;
    border: 1px solid #bfbed0;
}
/* medium yellow */
.ruleHighlight.medium {
    color: #f5b944;
    border: 1px solid #f5b944;
}
/* high red */
.ruleHighlight.high {
    color: #fb6e88;
    border: 1px solid #fb6e88;
}
/* extreme purple */
.ruleHighlight.extreme {
    color: #be95eb;
    border: 1px solid #be95eb;
}
.periodTotal {
    color: #01ee99;
}
.allTimeTotal {
    color: #bfbed0;
}
.addlight {
    color: #8180a0;
    margin-right: 1px;
}
.highlight {
    background: #f5b944;
    color: #000000;
    border-radius: 2px;
    text-align: center;
    width: 27px;
    height: 17px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    letter-spacing: -0.5px;
    line-height: 1.5;
    font-family: monospace, monospace;
}
.nolight {
    background: #575678;
    color: #000000;
    border-radius: 2px;
    text-align: center;
    width: 27px;
    height: 17px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    letter-spacing: -0.5px;
    line-height: 1.5;
    font-family: monospace, monospace;
}
.title .nolight, .title .highlight {
    font-size: 1.3rem;
    width: 39px;
    height: 24px;
    line-height: 1.4;
}
.lang-col span {
    width: 46px;
}
.loading-background {
    display: block;
    background: #575678;
    color: #000000;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    width: 27px;
    height: 17px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
}
.loading-table-total {
    display: block;
    color: #8180a0;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    width: 27px;
    height: 17px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
}

.user-buttons button {
    margin-left: 5px;
}
.fraud {
    color: #f5b944;
}
.legitfraud {
    display: inline-block;
    border-radius: 4px;
    background: #131220;
}
#reputation img {
    margin-right: 3px;
    vertical-align: text-top;
}
button:disabled,
.reviewed   .button:disabled,
.legitfraud .button:disabled,
.legitfraud .button[disabled],
.reviewed.button[disabled]:active,
input:is([type="button"], [type="submit"], [type="reset"]):disabled {
    background-image: url(/ui/images/transparent.png);
    cursor: not-allowed;
}
.button.is-grey {
    background: #bfbed0;
    color: #131220;
}
.legitfraud .button {
    box-shadow: none;
}
.legitfraud .is-neutral:hover {
    background: #3d3c5a;
}
.legitfraud .is-neutral {
    color: #8180a0;
}
.is-highlighted{
    background: #575678;
    color: #bfbed0;
}
.is-neutral {
    background: #36354f;
    color: #bfbed0;
}
.legitfraud .button:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.legitfraud .button:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 1px;
}
#reviewed-users-queue-table > tbody > tr:active {
    background-color: #131220;
}
#auto-complete {
    width: 495px;
    border-right: 1px solid #36354f;
    border-bottom: 1px solid #36354f;
    background: #2b2a3d url(/ui/images/transparent.png);
}
#auto-complete:focus {
    background: #131220;
}
.reviewedUsersTile {
    padding: 2px 4px 2px 4px;
    white-space: nowrap;
    border-radius: 3px;
    background: #575678;
    color: #bfbed0;
    margin-left: 3px;
    border: 0;
}
.autocomplete-no-suggestion {
    padding: 0.34em 0.75em;
}
.autocomplete-suggestions {
    border: 0;
    overflow: auto;
    background: #131220;
    margin-top: 0px;
    border-right: 1px solid #2b2a3d;
    border-bottom: 1px solid #2b2a3d;
}
.autocomplete-suggestion {
    padding: 0.34em 0.75em;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #2b2a3d;
}
.autocomplete-selected {
    color: #ffffff;
    background: #212032;
}
.autocomplete-suggestions strong {
    font-weight: normal;
    color: #01ee99;
}
.autocomplete-group {
    padding: 0.34em 0.75em;
    border-bottom: 1px solid #2b2a3d;
    color: #fff;
}
.autocomplete-group strong {
    display: block;
}
.autocomplete-group:first-of-type {
    border-top: 0;
    margin-top: 0;
}

.logo-header {
    text-align: center;
    padding-bottom: 1.14rem;
    position: relative;
    line-height: 1;
    padding-top: 0.67rem;
}

.selector {
    position: relative;
}

.selector::before,
.selector::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.selector::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid #bfbed0;
    top: 40%;
}

.selector::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #bfbed0;
    top: 55%;
}

.reenrichment {
    display: inline;
}

.reenrichment-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin-left: 3px;
}

.reenrichment-button img {
    display: block;
    vertical-align: middle;
}

.reload,
.tooltip-info {
    display: inline;
    margin-left: 3px;
}

.tooltip-info svg {
    vertical-align: text-bottom;
}

.subtitle .tooltip-info {
    margin-left: 3px;
}

.yes-no-col {
    width: 82px;
}

.medium-yes-no-col {
    width: 72px;
}

.short-yes-no-col {
    width: 57px;
}

.title .flag img {
    height: 19px;
    width: 24px;
}
.country-ico-flag-col {
    width: 55px;
}

.country-code-col {
    width: 133.5px;
}

.country-full-name-col {
    width: 145px;
}

.country-full-name-flag-col {
    width: 350px;
}

.country-total-counters-col {
    width: 153px;
}

.phone-number-col {
    width: 160px;
}

.phone-carrier-name-col {
    width: 147px;
}

.phone-type-col {
    width: 45px;
}

.ip-type-col {
    width: 75px;
}

.ip-col {
    width: 105px;
}

.asn-col {
    width: 50px;
}

.isp-netname-col {
    width: 290px;
}

.ip-netname-col {
    width: 200px;
}

.user-total-counters-col,
.ip-total-counters-col {
    width: 55px;
}

.email-col {
    width: 117px;
}

.email-reputation-col {
    width: 70px;
}

.email-risk-score-short-col {
    width: 180px;
}

.email-risk-score-med-col {
    width: 216px;
}

.email-risk-score-long-col {
    width: 270px;
}

.top-ten-aggregating-col {
    width: 250px;
}

.userid-col {
    width: 108px;
}

.timestamp-col {
    width: 140px;
}

.date-col {
    width: 92px;
}

.id-type-col {
    width: 103px;
}

.id-value-col {
    width: 210px;
}

.double-action-button-col {
    width: 130px;
}

.action-button-col {
    width: 100px;
}

.device-type-col {
    width: 94px;
}

.event-type-col {
    width: 125px;
}

.user-firstname-col {
    width: 80px;
}

.user-lastname-col {
    width: 96px;
}

.user-review-status-col {
    width: 86px;
}

.resources-total-counters-col {
    width: 110px;
}

.http-response-code-col {
    width: 110px;
}

.url-col {
    width: 229px;
}

.total-counters-col {
    width: 85px;
}

.domains-total-counters-col {
    width: 55px;
}

.phones-total-counters-col {
    width: 55px;
}

.ua-part-col {
    width: 145px;
}

.lang-col {
    width: 100px;
}

.device-id-col {
    width: 113px;
}

.domain-col {
    width: 167px;
}

.domain-rating-col {
    width: 92px;
}

.rules-code-col {
    width: 100px;
}

.rules-type-col {
    width: 135px;
}

.rules-description-col {
    width: 450px;
}

.rules-proportion-col {
    width: 80px;
}

.rules-weight-col {
    width: 110px;
}

.rules-action-col {
    width: 120px;
}

.error-type-col {
    width: 200px;
}

.error-text-col {
    width: 380px;
}

.billing-date-col {
    width: 145px;
}

.subscription-usage-col {
    width: 133px;
}

.subscription-status-col {
    width: 80px;
}

.subscription-plan-col {
    width: 170px;
}

/* choices styles */
input::placeholder{
    color: #8180a0;
}
.choices {
    position: relative;
    overflow: hidden;
    font-size: 14px;
}
.choices:focus {
    outline: 0;
}
.choices.is-open {
    overflow: visible;
}
.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
    background-color: #36354f;
    cursor: not-allowed;
    -webkit-user-select: none;
    user-select: none;
}
.choices.is-disabled .choices__item {
    cursor: not-allowed;
}
.choices [hidden] {
    display: none !important;
}
.choices[data-type*="select-one"] {
    cursor: pointer;
}
.choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 6px;
}
.choices[data-type*="select-one"] .choices__input {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin: 0;
}
.choices[data-type*="select-one"] .choices__button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
    padding: 0;
    background-size: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 10em;
    opacity: 0.25;
}
.choices[data-type*="select-one"] .choices__button:focus,
.choices[data-type*="select-one"] .choices__button:hover {
    opacity: 1;
}
.choices[data-type*="select-one"] .choices__button:focus {
    box-shadow: 0 0 0 2px #00bcd4;
}
.choices[data-type*="select-one"] .choices__item[data-value=""] .choices__button {
    display: none;
}
.choices[data-type*="select-one"]::after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #333 transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
}
.choices[data-type*="select-one"].is-open::after {
    border-color: transparent transparent #333;
    margin-top: -7.5px;
}
.choices[data-type*="select-one"][dir="rtl"]::after {
    left: 11.5px;
    right: auto;
}
.choices[data-type*="select-one"][dir="rtl"] .choices__button {
    right: auto;
    left: 0;
    margin-left: 25px;
    margin-right: 0;
}
.choices[data-type*="select-multiple"] .choices__inner,
.choices[data-type*="text"] .choices__inner {
    cursor: text;
}
.choices[data-type*="select-multiple"] .choices__button,
.choices[data-type*="text"] .choices__button {
    position: relative;
    display: inline-block;
    margin: 0 -2px 0 3px;
    padding-left: 12px;
    border-left: 1px solid #bfbed0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 8px;
    width: 8px;
    line-height: 1;
    opacity: 0.75;
    border-radius: 0;
}
.choices[data-type*="select-multiple"] .choices__button:focus,
.choices[data-type*="select-multiple"] .choices__button:hover,
.choices[data-type*="text"] .choices__button:focus,
.choices[data-type*="text"] .choices__button:hover {
    opacity: 1;
}
.choices__inner {
display: inline-block;
vertical-align: top;
width: 100%;
padding: 6px 6px 0px 6px;
overflow: hidden;
border-style: solid;
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #36354f;
border-bottom: 1px solid #36354f;
background: #2b2a3d;
color: #ffffff;
border-radius: 0;
}
.is-focused .choices__inner,
.is-open .choices__inner {
}
.is-open .choices__inner {
}
.is-flipped.is-open .choices__inner {
}
.choices__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.choices__list--single {
    display: inline-block;
    padding: 3px 16px 3px 3px;
    width: 100%;
}
[dir="rtl"] .choices__list--single {
    padding-right: 4px;
    padding-left: 16px;
}
.choices__list--single .choices__item {
    width: 100%;
}
.choices__list--multiple {
    display: inline;
}
.choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: 2px 3px 2px 3px;
    font-size: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    color: #bfbed0;
    background: #575678;
    word-break: break-all;
    box-sizing: border-box;
}
.choices__list--multiple .choices__item[data-deletable] {
    padding-right: 5px;
}
[dir="rtl"] .choices__list--multiple .choices__item {
    margin-right: 0;
    margin-left: 4px;
}
.choices__list--multiple .choices__item.is-highlighted {
    color: #ffffff;
}
.is-disabled .choices__list--multiple .choices__item {
    background-color: #aaa;
    border: 1px solid #919191;
}
.choices__list--dropdown,
.choices__list[aria-expanded] {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: -1px;
    background: #131220;
    margin-top: -1px;
    overflow: hidden;
    word-break: break-all;
    will-change: visibility;
    border-right: 1px solid #2b2a3d;
    border-bottom: 1px solid #2b2a3d;
}
.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
    visibility: visible;
}
.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
}
.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    position: relative;
    padding: 0.34em 0.75em;
    border-bottom: 1px solid #2b2a3d;
}
[dir="rtl"] .choices__list--dropdown .choices__item,
[dir="rtl"] .choices__list[aria-expanded] .choices__item {
    text-align: right;
}
@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable,
    .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 100px;
    }
    .choices__list--dropdown .choices__item--selectable::after,
    .choices__list[aria-expanded] .choices__item--selectable::after {
        content: attr(data-select-text);
        font-size: 12px;
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    [dir="rtl"] .choices__list--dropdown .choices__item--selectable,
    [dir="rtl"] .choices__list[aria-expanded] .choices__item--selectable {
        text-align: right;
        padding-left: 100px;
        padding-right: 10px;
    }
    [dir="rtl"] .choices__list--dropdown .choices__item--selectable::after,
    [dir="rtl"] .choices__list[aria-expanded] .choices__item--selectable::after {
        right: auto;
        left: 10px;
    }
}
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    color: #fff;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted::after,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
    opacity: 0.5;
}
.choices__item {
    cursor: default;
}
.choices__item--selectable {
    cursor: pointer;
}
.choices__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.5;
}
.choices__heading {
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    color: #bfbed0;
}
.choices__button {
    text-indent: -9999px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.choices__button:focus,
.choices__input:focus,
.choices__inner:focus {
    outline: 0;
}
.choices__input {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    background: transparent;
    padding: 2px 0 8px 3px;
    color: #ffffff;
}
.choices__input::-webkit-search-cancel-button,
.choices__input::-webkit-search-decoration,
.choices__input::-webkit-search-results-button,
.choices__input::-webkit-search-results-decoration {
    display: none;
}
.choices__input::-ms-clear,
.choices__input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
[dir="rtl"] .choices__input {
    padding-right: 2px;
    padding-left: 0;
}
.choices__placeholder {
    opacity: 0.5;
}
