<div class="card events-card">
    <header class="card-header">
        <div class="card-header-title">
            {{ @AdminDevices_table_title }}
            <span>&#8943;</span><p class="tooltip-info tooltip" title="{{ @AdminDevices_table_title_tooltip }}"><include href="images/icons/information.svg" alt=''/>
            </p>
        </div>
    </header>

    <div class="card-table">
        <div class="content">
            <table class="table" id="devices-table">
                <thead>
                    <tr>
                        <th class="tooltip date-col" title="{{ @Base_table_column_device_created_tooltip }}">{{ @Base_table_column_device_created }}</th>
                        <th class="tooltip device-type-col" title="{{ @Base_table_column_device_name_tooltip }}">{{ @Base_table_column_device_name }}</th>
                        <th class="tooltip ua-part-col" title="{{ @Base_table_column_os_tooltip }}">{{ @Base_table_column_os }}</th>
                        <th class="tooltip ua-part-col" title="{{ @Base_table_column_browser_tooltip }}">{{ @Base_table_column_browser }}</th>
                        <th class="tooltip lang-col" title="{{ @Base_table_column_device_lang_tooltip }}">{{ @Base_table_column_device_lang }}</th>
                        <th class="tooltip yes-no-col" title="{{ @Base_table_column_modified_tooltip }}">{{ @Base_table_column_modified }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
