<div class="card events-card">
    <header class="card-header">
        <div class="card-header-title">
            {{ @AdminEmails_table_title }}
            <span>&#8943;</span><p class="tooltip-info tooltip" title="{{ @AdminEmails_table_title_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
        </div>
    </header>

    <check if="{{ isset(@showChart) && 1 === @showChart }}">
        <div class='main-graph'>
            <check if="false !== strpos(@CURRENT_PATH, 'emails')">
                <true>
                    <include href="templates/parts/forms/filtersForm.html" />
                </true>
            </check>
            <div class="statChart"></div>
        </div>
    </check>

    <div class="card-table">
        <div class="content">
            <check if="false !== strpos(@CURRENT_PATH, 'emails')">
                <true>
                <include href="templates/parts/forms/searchForm.html" />
                </true>
            </check>
            <table class="table" id="emails-table">
                <thead>
                    <tr>
                        <th class="tooltip email-col" title="{{ @Base_table_column_user_email_tooltip }}">{{ @Base_table_column_user_email }}</th>
                        <th class="tooltip email-reputation-col" title="{{ @Base_table_column_email_reputation_tooltip }}">{{ @Base_table_column_email_reputation }}</th>
                        <th class="tooltip yes-no-col" title="{{ @Base_table_column_email_free_provider_tooltip }}">{{ @Base_table_column_email_free_provider }}</th>
                        {***<th class="tooltip medium-yes-no-col" title="{{ @Base_table_column_email_noprofiles_tooltip }}">{{ @Base_table_column_email_noprofiles }}</th>***}
                        <th class="tooltip medium-yes-no-col" title="{{ @Base_table_column_email_nodatabreach_tooltip }}">{{ @Base_table_column_email_nodatabreach }}</th>
                        <th class="tooltip medium-yes-no-col" title="{{ @Base_table_column_email_total_breaches_tooltip }}">{{ @Base_table_column_email_total_breaches }}</th>
                        <th class="tooltip medium-yes-no-col" title="{{ @Base_table_column_email_disposable_tooltip }}">{{ @Base_table_column_email_disposable }}</th>
                        <th class="tooltip short-yes-no-col" title="{{ @Base_table_column_email_spamlist_tooltip }}">{{ @Base_table_column_email_spamlist }}</th>
                        <th class="tooltip short-yes-no-col" title="{{ @Base_table_column_email_blacklist_tooltip }}">{{ @Base_table_column_email_blacklist }}</th>
                        {***<!-- TODO: return alert_list back in next release -->
                        <!-- <th class="tooltip medium-yes-no-col" title="{{ @Base_table_column_global_alert_tooltip }}">{{ @Base_table_column_global_alert }}</th> -->***}
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
