<div class="card events-card">
    <header class="card-header">
        <div class="card-header-title">
            {{ @AdminLogbook_table_title }}
            <span>&#8943;</span><p class="tooltip-info tooltip" title="{{ @AdminLogbook_table_title_tooltip }}"><include href="images/icons/information.svg" alt=''/>
            </p>
        </div>
    </header>

    <div class="card-table">
        <div class="content">

            <include href="templates/parts/forms/searchForm.html" />

            <table class="table" id="logbook-table">
                <thead>
                    <tr>
                        <th class="tooltip ip-col" title="{{ @Base_table_column_ip_tooltip }}">{{ @Base_table_column_ip }}</th>
                        <th class="tooltip timestamp-col" title="{{ @Base_table_column_event_timestamp_tooltip }}">{{ @Base_table_column_event_timestamp }}</th>
                        <th class="tooltip error-type-col" title="{{ @Base_table_column_error_type_tooltip }}">{{ @Base_table_column_error_type }}</th>
                        <th class="tooltip error-text-col" title="{{ @Base_table_column_error_text_tooltip }}">{{ @Base_table_column_error_text }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
