<div class="card events-card is-hidden" data-item-id="manual-check-result-{{ @type }}" data-item-type="{{ @type }}" >
    <header class="card-header">
        <p class="card-header-title">{{ sprintf(@AdminManualCheck_result_title, @AdminManualCheck_form_types[@type]) }}</p>
    </header>

    <div class="card-table">
        <div class="content">
            <table class="table" id="manual-check-result-table">
                <tbody>
                    <check if="{{ is_array(@results) }}">
                        <repeat group="{{ @results }}" key="{{ @key }}" value="{{ @value }}">
                            <tr>
                                <td data-item-id="{{ @key }}">{{ \Controllers\Admin\ManualCheck\Page::stylizeKey(@key) }}</td>
                                <td>
                                    {{ is_string(@value) ? @value : json_encode(@value) }}
                                </td>
                            </tr>
                        </repeat>
                    </check>
                </tbody>
            </table>
        </div>
    </div>
</div>
