<div class="card events-card">
    <header class="card-header">
        <div class="card-header-title">
            {{ @AdminPayload_table_title }}
            <span>&#8943;</span><p class="tooltip-info tooltip" title="{{ @AdminPayload_table_title_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
        </div>
    </header>

    <div class="card-table">
        <div class="content">
            <check if="false !== strpos(@CURRENT_PATH, 'phones')">
                <true>
                <include href="templates/parts/forms/searchForm.html" />
                </true>
            </check>
            <table class="table" id="payloads-table">
                <thead>
                    <check if="count(@PAYLOAD)">
                    <tr>
                        <repeat group="{{ @PAYLOAD }}" key="{{ @column }}" value="{{ @record }}">
                        <th>{{ @column }}</th>
                        </repeat>
                    </tr>
                    </check>
                </thead>
            </table>
        </div>
    </div>
</div>
