<div class="card events-card">
    <header class="card-header">
        <div class="card-header-title">
            {{ @AdminPhones_table_title }}
            <span>&#8943;</span><p class="tooltip-info tooltip" title="{{ @AdminPhones_table_title_tooltip }}"><include href="images/icons/information.svg" alt=''/></p>
        </div>
    </header>

    <check if="{{ isset(@showChart) && 1 === @showChart }}">
        <div class="main-graph">
            <check if="false !== strpos(@CURRENT_PATH, 'phones')">
                <true>
                    <include href="templates/parts/forms/filtersForm.html" />
                </true>
            </check>
            <div class="statChart"></div>
        </div>
    </check>

    <div class="card-table">
        <div class="content">
            <check if="false !== strpos(@CURRENT_PATH, 'phones')">
                <true>
                <include href="templates/parts/forms/searchForm.html" />
                </true>
            </check>
            <table class="table" id="phones-table">
                <thead>
                    <tr>
                        <th class="tooltip phone-number-col" title="{{ @Base_table_column_user_phone_tooltip }}">{{ @Base_table_column_user_phone }}</th>
                        <th class="tooltip yes-no-col" title="{{ @Base_table_column_phone_invalid_tooltip }}">{{ @Base_table_column_phone_invalid }}</th>
                        <th class="tooltip country-full-name-col" title="{{ @Base_table_column_phone_country_tooltip }}">{{ @Base_table_column_country }}</th>
                        <th class="tooltip phone-carrier-name-col" title="{{ @Base_table_column_phone_carrier_name_tooltip }}">{{ @Base_table_column_phone_carrier_name }}</th>
                        <th class="tooltip phone-type-col" title="{{ @Base_table_column_phone_type_tooltip }}">{{ @Base_table_column_phone_type }}</th>
                        <th class="tooltip phones-total-counters-col" title="{{ @Base_table_column_total_users_tooltip_phones }}">{{ @Base_table_column_total_users }}</th>
                        <th class="tooltip yes-no-col" title="{{ @Base_table_column_phone_blacklist_tooltip }}">{{ @Base_table_column_phone_blacklist }}</th>
                        {***<!-- TODO: return alert_list back in next release -->
                        <!-- <th class="tooltip yes-no-col" title="{{ @Base_table_column_global_alert_tooltip }}">{{ @Base_table_column_global_alert }}</th> -->***}
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
