<check if="{{ isset(@showChart) && 1 === @showChart }}">
    <div class="main-graph separate-graph">
        <check if="false !== strpos(@CURRENT_PATH, 'review-queue')" >
            <true>
                <include href="templates/parts/forms/filtersForm.html" />
            </true>
        </check>
        <div class="statChart"></div>
    </div>
</check>

<div class="card events-card">
    <header class="card-header">
        <div class="card-header-title">
            {{ @ReviewQueue_table_title }}
            <span>&#8943;</span><p class="tooltip-info tooltip" title="{{ @ReviewQueue_table_title_tooltip }}"><include href="images/icons/information.svg" alt=''/>
            </p>
        </div>
    </header>

    <div class="card-table">
        <div class="content">
            <check if="false !== strpos(@CURRENT_PATH, 'review-queue')">
                <true>
                <include href="templates/parts/forms/searchForm.html" />
                </true>
            </check>
            <table class="table" id="review-queue-table">
                <thead>
                    <tr>
                        <th class="tooltip email-risk-score-short-col" title="{{ @Base_table_column_user_risk_score_and_email_tooltip }}">{{ @Base_table_column_user_risk_score_and_email }}</th>
                        <th class="tooltip timestamp-col" title="{{ @Base_table_column_lastseen_tooltip_users }}">{{ @Base_table_column_lastseen }}</th>
                        <th class="tooltip user-firstname-col" title="{{ @Base_table_column_user_firstname_tooltip }}">{{ @Base_table_column_user_firstname }}</th>
                        <th class="tooltip user-lastname-col" title="{{ @Base_table_column_user_lastname_tooltip }}">{{ @Base_table_column_user_lastname }}</th>
                        <th class="tooltip date-col" title="{{ @Base_table_column_user_registered_tooltip }}">{{ @Base_table_column_user_registered }}</th>
                        <th class="tooltip double-action-button-col" title="{{ @Base_table_column_reviewed_status_tooltip }}">{{ @Base_table_column_action_buttons }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
